{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    To Do List
{% endblock title %}

{% block content %}
    <h1>New Task</h1>
    <br>
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <input type="submit" class="btn btn-success my-4" value="save">
    </form>

    <h2>Tasks To Be Done</h2>
    <ul class="list-group list-group-flush">
        {% for task in task_list %}
             <li class="list-group-item">
                 {{ task }}
                 <a href="{% url 'todo:delete' task.pk %}" class="btn btn-danger me-auto">
                    End My Suffering
                 </a>
             </li>
        {% endfor %}
    </ul>
{% endblock content %}
