{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  To Do List
{% endblock title %}

{% block content %}
  <h1>New Task</h1>
  <br>
  <form method="post">
    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit" class="btn btn-success my-4">save</button>
  </form>

  <h2>Task List</h2>
  <a href="{% url "todo:filter" 'all' %}" class="btn btn-info me-auto">Show
    All</a>
  <a href="{% url "todo:filter" 'done' %}" class="btn btn-info me-auto">Show
    Complete</a>
  <a href="{% url "todo:todo" %}" class="btn btn-info me-auto">Show
    Incomplete</a>
  <hr>
  <ul class="list-group list-group-flush">
    {% for task in task_list %}
      <li class="list-group-item">
        {{ task }}
        <form class="form-check form-check-inline" method="post"
              action="{% url 'todo:delete' task.pk %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger me-auto">End Me</button>
        </form>
        <form class="form-check form-check-inline" method="post"
              class="form-check form-check-inline"
              action="{% url 'todo:done' task.pk %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-success me-auto">Done</button>
        </form>

      </li>
    {% endfor %}
  </ul>
{% endblock content %}
